.portfolio {
    background-color: var(--bg-main-grey);
    padding: 80px 30px 100px;
    text-align: center;
    color: var(--color-main-black);

}

.portfolio-title {
    font-size: 34px;
    font-weight: 700;

}

.portfolio-picture {
    margin: 75px 0 40px;
    width: min(950px, 100%);
    height: min(630px, 100%);
    object-fit: contain;
}

.portfolio-description {
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 480px) {

    .portfolio-picture {
        margin: 50px 0 30px;

    }

    .portfolio-description {
        font-size: 14px;
     }
}